<!DOCTYPE HTML>
<!--
<p th:text="'El Estudiante matricula: '+${matricula}">...</p>
<#if usuario??>
            <#else>
            </#if>
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:text="${titulo}">Plantalla</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
							<a href="index.html" class="logo">
								<span class="symbol"><img src="images/logo.svg" alt="" /></span><span class="title">Arrendos</span>
							</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
				<div th:insert="fragments/nav.html :: menu"></div>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1 th:text="${mensaje}">Testalus</h1>
								<p th:text="'Etiam et nullam dolore.: '+${mensaje2}">...</p>
							</header>

							<section class="tiles">
								<article class="style1">
									<span class="image">
										<img src="images/pic01.jpg" alt="" />
									</span>
									<a href="generic.html">
										<h2 th:text="${inventory}">Inventario</h2>
										<div class="content">
											<p th:text="${invDesc}">Accede al area de manejo de existencias.</p>
										</div>
									</a>
								</article>
								<article class="style2">
									<span class="image">
										<img src="images/pic02.jpg" alt="" />
									</span>
									<a href="generic.html">
										<h2 th:text="${Rent}">Alquiler</h2>
										<div class="content">
											<p th:text="${RentDesc}">Manejo el area de alquiler.</p>
										</div>
									</a>
								</article>
								<article class="style3">
									<span class="image">
										<img src="images/pic03.jpg" alt="" />
									</span>
									<a href="generic.html">
										<h2 th:text="${Other}">Entregas</h2>
										<div class="content">
											<p th:text="${OtherDesc}">Vikernes.</p>
										</div>
									</a>
								</article>

							</section>

						</div>
					</div>

				<!-- Footer -->
				<div th:insert="fragments/foot.html :: footer"></div>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>